include ./article-sort.pug
mixin slideArticle()
  - var posts = site.posts.filter(item => item.layout === 'slides')
  #archive
    .article-sort-title= 'Slides - ' + posts.length
    +articleSort(posts)

mixin slide(item)
  section(
    data-markdown
    data-separator=theme.slide.separator
    data-separator-vertical=theme.slide.separator_vertical
    data-charset=theme.slide.charset)
      script(type="text/template")!= item._content

mixin slideIframe(url)
  .content
    iframe(src=url frameborder="0")

mixin postSlideIframe(url)
  .post-iframe
    iframe(src=url frameborder="0")
