extends includes/layout.pug

block top_img
  - var top_img = page.top_img || theme.top_img || config.top_img
  if (top_img)
    - var flag = top_img === true ? 'no-bg' : undefined
    div#top-container(style=`background-image: url(${top_img})` class=flag)
      include ./includes/header.pug
      #post-info
        #post-title= page.title || _p('no_title') 
        #post-meta
          if (theme.post_meta.date_type)
            - var date_type = theme.post_meta.date_type == 'updated' ? 'updated' : 'date' 
            time.post-meta__date #[i.fa.fa-calendar(aria-hidden="true")] #[=date(page[date_type], config.date_format)] 
          if (theme.post_meta.categories && page.categories.data.length > 0)
            if (theme.post_meta.date_type)
              span.post-meta__separator  | 
            each item, index in page.categories.data
              i.fa.fa-inbox(aria-hidden="true")  
              a(href=url_for(item.path)).post-meta__categories  #[=item.name]  
              if (index < page.categories.data.length - 1)
                 i.fa.fa-angle-right(aria-hidden="true")  
          if (theme.disqus.enable && theme.disqus.count)
            if (theme.post_meta.date_type || theme.post_meta.categories && page.categories.data.length > 0)
              span.post-meta__separator  | 
            i.fa.fa-comment-o(aria-hidden="true")  
            a(href=url_for(page.path) + '#disqus_thread')
              span.disqus-comment-count(data-disqus-identifier=page.path)
  else
    div#top-container.plain
      include ./includes/header.pug

block content
  article#post(class="")
    if (!top_img)
      #post-title.plain= page.title || _p('no_title') 
      #post-meta
        if (theme.post_meta.date_type)
          - var date_type = theme.post_meta.date_type == 'updated' ? '' : 'date' 
          time.post-meta__date #[i.fa.fa-calendar(aria-hidden="true")] #[=date(page[date_type], config.date_format)] 
        if (theme.post_meta.categories && page.categories.data.length > 0)
          if (theme.post_meta.date_type)
            span.post-meta__separator  | 
          each item, index in page.categories.data
            i.fa.fa-inbox(aria-hidden="true")  
            a(href=url_for(item.path)).post-meta__categories  #[=item.name]
            if (index < page.categories.data.length - 1)
                i.fa.fa-angle-right.post-meta__separator(aria-hidden="true")  
        if (theme.disqus.enable && theme.disqus.count)
          if (theme.post_meta.date_type || theme.post_meta.categories && page.categories.data.length > 0)
            span.post-meta__separator  | 
          i.fa.fa-comment-o(aria-hidden="true")  
          a(href=url_for(page.path) + '#disqus_thread')
            span.disqus-comment-count(data-disqus-identifier=page.path)
    #post-content!= page.content
    if (theme.post_copyright && theme.post_copyright.enable)
      .post-copyright
        .post-copyright__author
          span.post-copyright-meta= _p('post.copyright.author') + ": "
          span.post-copyright-info= config.author
        .post-copyright__type
          span.post-copyright-meta= _p('post.copyright.link') + ": "
          span.post-copyright-info= url_for(page.permalink)
        .post-copyright__notice
          span.post-copyright-meta= _p('post.copyright.copyright_notice') + ": "
          span.post-copyright-info!= _p('post.copyright.copyright_content', theme.post_copyright.license_url, theme.post_copyright.license)
    if (theme.post_meta.tags)
      .post-meta__tag-list
        each item, index in page.tags.data
          a(href=url_for(item.path)).post-meta__tags #[=item.name]
    if (theme.addThis.enable)
      .addthis_inline_share_toolbox.pull-right
      script(src=`//s7.addthis.com/js/300/addthis_widget.js#pubid=${theme.addThis.pubid}` async)
  include includes/pagination.pug
  if page.comments !== false
    include includes/comments/index.pug