if theme.vssue && theme.vssue.enable
  #vssue-container
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vssue@1.4.6/dist/vssue.css")
  script(src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js")
  - var platform = theme.vssue.platform || 'github'
  script(src="https://cdn.jsdelivr.net/npm/vssue@1.4.6/dist/vssue." + platform + ".min.js")
  - var perPage = theme.vssue.perPage || 10
  - var autoCreateIssue = theme.vssue.autoCreateIssue || false
  if theme.vssue.platform = 'github-v4'
    - var baseURL = 'https://github.com'
  else if theme.vssue.platform = 'gitlab' || 'bitbucket' || 'gitee' || 'github' || 'gitea'
    - var baseURL = "https://" + platform + ".com"
  else if theme.vssue.platform = 'bitbucket'
    - var baseURL = "https://" + platform + ".org"
  else
    - var baseURL = theme.vssue.baseURL

  script.
    var vssue = new Vue({
      el: '#vssue',
      
      data: {
        title: options => `${options.prefix}${document.title}`,

        options: {
          owner: '!{theme.vssue.owner}',
          repo: '!{theme.vssue.repo}',
          clientId:'!{theme.vssue.clientId}',
          clientSecret: '!{theme.vssue.clientSecret}',
          autoCreateIssue: !{autoCreateIssue},
          baseURL: '!{baseURL}',
          perPage: !{perPage},
          labels: ['!{theme.vssue.labels}'],
        },
      },

      template: `<vssue :title="title" :options="options"></vssue>`,
    })
    vssue.render('vssue-container')