if theme.vssue && theme.vssue.enable
  #vssue-container
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vssue@1.4.6/dist/vssue.css")
  script(src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js")
  - var platform = theme.vssue.platform || 'github'
  script(src="https://cdn.jsdelivr.net/npm/vssue@1.4.6/dist/vssue." + platform + ".min.js")
  script.
    var vssue = new Vue({
      el: '#vssue',
      
      data: {
        title: options => `${options.prefix}${document.title}`,

        options: {
          owner: '!{theme.vssue.owner}',
          repo: '!{theme.vssue.repo}',
          clientId:'!{theme.vssue.clientId}',
          clientSecret: '!{theme.vssue.clientSecret}', // only required for some of the platforms
          autoCreateIssue: !{theme.vssue.autoCreateIssue},
          baseURL: '!{theme.vssue.baseURL}',
          perPage: !{theme.vssue.perPage},
          labels: ['!{theme.vssue.labels}'],
        },
      },

      template: `<vssue :title="title" :options="options"></vssue>`,
    })
    vssue.render('vssue-container')
