-
  var algolia;
  var env = process.env;
  if (theme.algolia_search.enable) {
    algolia = JSON.stringify({
      appId: env.ALGOLIA_APP_ID || config.algolia.appId || config.algolia.applicationID,
      apiKey: env.ALGOLIA_API_KEY || config.algolia.apiKey,
      indexName: env.ALGOLIA_INDEX_NAME || config.algolia.indexName,
      hits: theme.algolia_search.hits,
      labels: theme.algolia_search.labels
    })
  } else {
    algolia = 'undefined'
  }
  var localSearch = 'undefined';
  if (theme.local_search && theme.local_search.enable) {
    localSearchPath = config.search.path
    localSearch = JSON.stringify({
      labels: theme.local_search.labels,
      path: config.search.path
    })
  }
script.
  var GLOBAL = { 
    root: '!{config.root}',
    algolia: !{algolia},
    copy: {
      success: '!{_p("copy.success")}',
      error: '!{_p("copy.error")}',
      noSupport: '!{_p("copy.noSupport")}'
    },
    localSearch: !{localSearch}
  } 