-
  var algolia = 'undefined';
  // search languages
  var algolia_search = 'undefined';
  var env = process.env;
  if (theme.algolia_search.enable) {
    algolia = JSON.stringify({
      appId: env.ALGOLIA_APP_ID || config.algolia.appId || config.algolia.applicationID,
      apiKey: env.ALGOLIA_API_KEY || config.algolia.apiKey,
      indexName: env.ALGOLIA_INDEX_NAME || config.algolia.indexName,
      hits: theme.algolia_search.hits,
      labels: theme.algolia_search.labels
    })
    algolia_search = JSON.stringify({
      input_placeholder: _p("algolia_search.input_placeholder"),
      hits_empty: _p("algolia_search.hits_empty"),
      hits_stats: _p("algolia_search.hits_stats")
    })
  } 
  var localSearch = 'undefined';
  // search languages
  var local_search = 'undefined';
  if (theme.local_search && theme.local_search.enable) {
    localSearch = JSON.stringify({
      path: config.search.path
    })
    local_search = JSON.stringify({
      hits_empty: _p("local_search.hits_empty")
    })
  }
script.
  var GLOBAL_CONFIG = { 
    root: '!{config.root}',
    algolia: !{algolia},
    copy: {
      success: '!{_p("copy.success")}',
      error: '!{_p("copy.error")}',
      noSupport: '!{_p("copy.noSupport")}'
    },
    // search languages
    algolia_search: !{algolia_search},
    local_search: !{local_search},
    localSearch: !{localSearch}
  } 