#footer.layout
  if theme.since
    - var now = new Date()
    - var nowYear = now.getFullYear()
    .copyright= `©${theme.since} - ${nowYear} By ${config.author}` 
  else
    .copyright= `&copy;${nowYear} By ${config.author}`
  .framework-info
    span= _p('footer.driven') + ' - ' 
    a(href='http://hexo.io')
      span Hexo
    span  |  
    span= _p('footer.theme') + ' - ' 
    a(href='https://github.com/Molunerfinn/hexo-theme-melody')
      span Melody
  if theme.ICP.enable
    .icp
      a(href=theme.ICP.url)
        span=theme.ICP.text
  if theme.busuanzi.enable
    include ./count/busuanzi.pug
      