- var top_img = page.top_img || theme.post_meta.top_img || theme.top_img || config.top_img || true
- var bg_img = top_img && top_img !== true ? `background-image: url(${top_img})` : ''
- var flag = top_img === true ? 'no-bg' : ''
nav#nav(style=bg_img class=flag)
  include ./header.pug
  #site-info
    #site-title= config.title
    #site-sub-title= config.subtitle
    if(theme.social)
      #site-social-icons
        each url, icon in theme.social
          a.social-icon(href=url target="_blank" rel="noreferrer noopener nofollow")
            i(class="fa-" + icon)
