- const showToc = is_post() && theme.toc.enable
-
  let tocNumber
  if (page.toc_number !== undefined) tocNumber = page.toc_number
  else if (theme.toc.number !== undefined) tocNumber = theme.toc.number
  else tocNumber = true
  let currentPageType = is_post()
    ? 'post'
    : is_home()
    ? 'index'
    : 'other'
  let display = 'false'
  const sidebar_display = theme.sidebar_display || 'post'
  if (
    currentPageType === sidebar_display ||
    (sidebar_display === 'all') ||
    (currentPageType !== 'index' && (sidebar_display === 'index-none')) ||
    (currentPageType !== 'post' && (sidebar_display === 'post-none'))
  ) {
    display = 'true'
  }
  if (theme.sidebar_display === 'hidden') {
    display = 'false'
  }
-
#sidebar(data-display=display)
  if(showToc)
    .toggle-sidebar-info.text-center
      span(data-toggle= _p('sidebar.toggle_article'))= _p('sidebar.toggle_site')
      hr
    .sidebar-toc
      div.sidebar-toc__title= _p('sidebar.catalog')
      div.sidebar-toc__progress
        span.progress-notice= _p('sidebar.have_read')
        span.progress-num 0
        span.progress-percentage %
        div.sidebar-toc__progress-bar
      div.sidebar-toc__content!=toc(page.content, {list_number: tocNumber})
  .author-info(class= showToc ? 'hide' : undefined)
    .author-info__avatar.text-center
      img(src=theme.avatar || url_for('/img/avatar.png'))
    .author-info__name.text-center= config.author
    .author-info__description.text-center= config.description
    if theme.follow && theme.follow.enable
      .follow-button
        a(href=theme.follow.url)= theme.follow.text || 'Follow Me'
    hr
    .author-info-articles
      if site.posts.length
        a(href=url_for(config.archive_dir)).author-info-articles__archives.article-meta
          span.pull-left= _p('sidebar.articles')
          span.pull-right= site.posts.length
      if site.tags.length
        a(href=url_for(config.tag_dir)).author-info-articles__tags.article-meta
          span.pull-left= _p('sidebar.tags')
          span.pull-right= site.tags.length
      if site.categories.length
        a(href=url_for(config.category_dir)).author-info-articles__categories.article-meta
          span.pull-left= _p('sidebar.categories')
          span.pull-right= site.categories.length
    if theme.links_title
      hr
      .author-info-links
        .author-info-links__title.text-center= theme.links_title
        each url, name in theme.links
          a.author-info-links__name.text-center(href=url)= name
