#sidebar
  - var showToc = is_post() && theme.toc.enable
  if(showToc)
    .toggle-sidebar-info.text-center
      span(data-toggle= _p('sidebar.toggle_article'))= _p('sidebar.toggle_site')
      hr
    .sidebar-toc
      div.sidebar-toc__title= _p('sidebar.catalog')
      div.sidebar-toc__progress
        span.progress-notice= _p('sidebar.have_read')
        span.progress-num 0
        span.progress-percentage %
        div.sidebar-toc__progress-bar
      div.sidebar-toc__content!=toc(page.content)
  .author-info(class= showToc ? 'hide' : undefined)
    .author-info__avatar.text-center
      img(src=theme.avatar || url_for('/img/avatar.png'))
    .author-info__name.text-center= config.author
    .author-info__description.text-center= config.description
    hr
    .author-info-articles
      if site.posts.length
        a(href=url_for(config.archive_dir)).author-info-articles__archives.article-meta
          span.pull-left= _p('sidebar.articles') 
          span.pull-right= site.posts.length
      if site.tags.length
        a(href=url_for(config.tag_dir)).author-info-articles__tags.article-meta
          span.pull-left= _p('sidebar.tags')
          span.pull-right= site.tags.length
      if site.categories.length
        a(href=url_for(config.category_dir)).author-info-articles__categories.article-meta
          span.pull-left= _p('sidebar.categories') 
          span.pull-right= site.categories.length
    if theme.links_title
      hr
      .author-info-links
        .author-info-links__title.text-center= theme.links_title
        each url, name in theme.links
          a.author-info-links__name.text-center(href=url target="_blank")= name
