
- var pageTitle = page.title || config.subtitle || ''
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' | ' + config.title

- var pageDescription = page.description || page.title || config.description || ''
- var pageKeywords = (config.keywords || []).join(',')
- if (page.tags && page.tags.data) pageKeywords = page.tags.data.map(function(tag) {return tag.name;}).join(',')
- if (page.keywords) pageKeywords = page.keywords.join(',')
- var pageAuthor = config.author + ',' + config.email
- var pageCopyright = config.copyright || config.author

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description" content=pageDescription)
    meta(name="keywords" content=pageKeywords)
    meta(name="author" content=pageAuthor)
    meta(name="copyright" content=pageCopyright)
    title= pageTitle
    !=favicon_tag(config.favicon || theme.favicon || '/melody-favicon.ico')
    if !page.iframe
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@latest/dist/reveal.css")
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@latest/dist/reset.css")
      - var slide = page.slide || theme.slide
      - var defaultSlide = theme.slide
      - var slideTheme = slide.theme || defaultSlide.theme
      - var slideCodeTheme = slide.codeTheme || defaultSlide.codeTheme || 'monokai'
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@latest/dist/theme/" + slideTheme + ".css")
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@latest/plugin/highlight/"+ slideCodeTheme + ".css")
      //- Available: zenburn.css and monokai.css)
    else
      style.
        body {
          margin: 0;
          padding: 0;
          height: 100vh;
          overflow: hidden;
        }
        .post-iframe iframe{
          width: 100%;
          height: 100vh;
        }
  body
    include ../mixins/slide.pug
    if page.iframe
      +postSlideIframe(page.iframe)
    else
      .reveal
        .slides
          +slide(page)
      include ./script.pug
