script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/dist/reveal.js"))
script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/zoom/zoom.js"))
script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/search/search.js"))
script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/notes/notes.js"))
script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/math/math.js"))
- var slide = page.slide || theme.slide
- var defaultSlide = theme.slide
- var mouseWheel = slide.mouseWheel || defaultSlide.mouseWheel 
- var transition = slide.transition || defaultSlide.transition
- var transitionSpeed = slide.transitionSpeed || defaultSlide.transitionSpeed
- var parallaxBackgroundImage = slide.parallaxBackgroundImage || defaultSlide.parallaxBackgroundImage
- var parallaxBackgroundSize = slide.parallaxBackgroundSize || defaultSlide.parallaxBackgroundSize
- var parallaxBackgroundHorizontal = slide.parallaxBackgroundHorizontal || defaultSlide.parallaxBackgroundHorizontal
- var parallaxBackgroundVertical = slide.parallaxBackgroundVertical || defaultSlide.parallaxBackgroundVertical
- var autoSlide = slide.autoSlide || defaultSlide.autoSlide || false
- var loop = slide.loop || defaultSlide.loop || false
- var controlsLayout = slide.controlsLayout || defaultSlide.controlsLayout || "bottom-right"
- var controlsBackArrows = slide.controlsBackArrows || defaultSlide.controlsBackArrows || "faded"
- var progress = slide.progress || defaultSlide.progress || true
- var showNotes = slide.showNotes || defaultSlide.showNotes || false
- var autoPlayMedia = slide.autoPlayMedia || defaultSlide.autoPlayMedia || false

script.
  Reveal.initialize({
    mouseWheel: !{mouseWheel},
    transition: '!{transition}',
    transitionSpeed: '!{transitionSpeed}',
    parallaxBackgroundImage: '!{parallaxBackgroundImage}',
    parallaxBackgroundSize: '!{parallaxBackgroundSize}',
    parallaxBackgroundHorizontal: '!{parallaxBackgroundHorizontal}',
    parallaxBackgroundVertical: '!{parallaxBackgroundVertical}',
    autoSlide: !{autoSlide},
    loop: !{loop},
    controlsLayout: '!{controlsLayout}', // Determines where controls appear, "edges" or "bottom-right"
    controlsBackArrows: '!{controlsBackArrows}',
    progress: !{progress},
    showNotes: !{showNotes},
    autoPlayMedia: !{autoPlayMedia},
    markdown: {
      smartypants: true
    },
    plugins: [
    // Search
    RevealSearch,
    // Speaker notes
    RevealNotes,
    // Zoom in and out with Alt+click
    RevealZoom,
    // MathJax
    RevealMath
    ],
    dependencies: [
      { src: '/js/third-party/reveal/marked.min.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '/js/third-party/reveal/markdown.min.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      // Syntax highlight for <code> elements
      { src: '/js/third-party/reveal/highlight.min.js', async: true, callback: function() {
        // issue #218
        setTimeout(function () {
          hljs.initHighlighting();
        }, 0)
      } },
    ]
  });