script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@latest/dist/reveal.js"))
script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@latest/plugin/zoom/zoom.js"))
script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@latest/plugin/search/search.js"))
script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@latest/plugin/notes/notes.js"))
script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@latest/plugin/math/math.js"))
script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@latest/plugin/markdown/markdown.js"))
script(src=url_for("https://cdn.jsdelivr.net/npm/reveal.js@latest/plugin/highlight/highlight.js"))
- var slide = page.slide || theme.slide
- var defaultSlide = theme.slide
- var mouseWheel = slide.mouseWheel || defaultSlide.mouseWheel 
- var transition = slide.transition || defaultSlide.transition
- var transitionSpeed = slide.transitionSpeed || defaultSlide.transitionSpeed
- var parallaxBackgroundImage = slide.parallaxBackgroundImage || defaultSlide.parallaxBackgroundImage
- var parallaxBackgroundSize = slide.parallaxBackgroundSize || defaultSlide.parallaxBackgroundSize
- var parallaxBackgroundHorizontal = slide.parallaxBackgroundHorizontal || defaultSlide.parallaxBackgroundHorizontal
- var parallaxBackgroundVertical = slide.parallaxBackgroundVertical || defaultSlide.parallaxBackgroundVertical
- var autoSlide = slide.autoSlide || defaultSlide.autoSlide || false
- var loop = slide.loop || defaultSlide.loop || false
- var controlsLayout = slide.controlsLayout || defaultSlide.controlsLayout || "bottom-right"
- var controlsBackArrows = slide.controlsBackArrows || defaultSlide.controlsBackArrows || "faded"
- var progress = slide.progress || defaultSlide.progress || true
- var showNotes = slide.showNotes || defaultSlide.showNotes || false
- var autoPlayMedia = slide.autoPlayMedia || defaultSlide.autoPlayMedia || false
- var backgroundTransition = slide.backgroundTransition|| defaultSlide.backgroundTransition || 'fade'

script.
  Reveal.initialize({
    mouseWheel: !{mouseWheel},
    transition: '!{transition}',
    transitionSpeed: '!{transitionSpeed}',
    parallaxBackgroundImage: '!{parallaxBackgroundImage}',
    parallaxBackgroundSize: '!{parallaxBackgroundSize}',
    parallaxBackgroundHorizontal: '!{parallaxBackgroundHorizontal}',
    parallaxBackgroundVertical: '!{parallaxBackgroundVertical}',
    autoSlide: !{autoSlide},
    loop: !{loop},
    controlsLayout: '!{controlsLayout}', // Determines where controls appear, "edges" or "bottom-right"
    controlsBackArrows: '!{controlsBackArrows}',
    progress: !{progress},
    showNotes: !{showNotes},
    autoPlayMedia: !{autoPlayMedia},
    backgroundTransition: '!{backgroundTransition}',
    markdown: {
      smartypants: true
    },
    plugins: [
    RevealMarkdown,
    // Markdown
    RevealHighlight,
    // Search
    RevealSearch,
    // Speaker notes
    RevealNotes,
    // Zoom in and out with Alt+click
    RevealZoom,
    // MathJax
    RevealMath
    ]
  });
